flask
flask-cors
flask-sqlalchemy

python-dotenv
google-generativeai
torch
transformers
pyttsx3

requests
soundfile

Pillow
gunicorn
google-cloud-speech
google-auth
google-api-python-client
google-auth-oauthlib
google-cloud-speech
google-cloud-texttospeech
google-api-python-client
google-auth
google-auth-oauthlib